<%= render 'layouts/navigation' %>
<%= render 'layouts/messages' %>
<div align="center">
    <h1 style = "font-family:Arial;font-size:42px;font-style:bold;">Listing all Articles </h1>
</div>

<br>
<%=render 'article', obj:@articles%>
<%= pagy_bulma_nav(@pagy).html_safe %>
<br>