<%= render 'layouts/navigation' %>
<%= render 'layouts/messages' %>
<div align="center">
    <h1 style = "font-family:Arial;font-size:42px;font-style:bold;">Listing all Articles </h1>
</div>

<p>

</p>
<%=render 'article', obj:@articles%>
