.has-bg-img { background: url('https://images.alphacoders.com/260/thumb-1920-260561.jpg')center center; background-size:cover; }
.article-meta-details{
    border-top: 1px solid #eaeaea;
    margin-top: 10px;
}
.usuariosCards{
    width:50%;
}
.radiobonito{
    -webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border: 1px solid rgba(0, 0, 0, 0.226);
max-width:800px
}
@import "bulma";
