<div class="container">

    <footer class="footer">

        <small>

            Copyright © <a href="https://maghiworks.bss.design/">MaghiWorks Projects</a>

            by Marino Gómez</a>

        </small>

    </footer>

</div>